*{
    margin: 0;
padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: darkmagenta;
    margin-left: 7%;
}
#subtitulo{
    
    font-family: sans-serif;
    color: black;
    margin-left: 10%;
}
fieldset{
    border: 0;
}
body{
    background-color: black;
    font-family: sans-serif;
    color: white;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}
input, select, textarea, button{
    border-radius: 5px;
}
.campo{
    margin-bottom: 1cm;
    
}
.campo label{
    margin-bottom: 0.2cm;
    color: white;
    display: 1cm;
}
fieldset.grupo .campo{
    float: left;
    margin-right: 1cm;
}
#nome{
    padding-top: 5px;
}

#sobrenome{
    padding-top: 5px;
}

.campo input[type= "text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2cm;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    display: block;
}
.campo select option{
    padding-right: 1cm;
}
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: whitesmoke;
}
.botao{
    background: darkorchid;
    border: 0;
    margin-bottom: 1cm;
    color: whitesmoke;
    padding: 0.2cm 0.6cm;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.2);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.botao:hover {
    background: whitesmoke;
    box-shadow: inset 2px 2px 2px rgb(0, 0, 0, 0.2);
    text-shadow: none;
}
#check{
    display:  inline-block;
}